@model IEnumerable<MVCProject.Models.Bill>

@{
    ViewData["Title"] = "Your Bills";
}

<h1>Your Bills</h1>

<table class="table">
    <thead>
        <tr>
            <th>Phone Number</th>
            <th>Cost of Bill</th>
            <th>Billing Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model)
        {
            <tr>
                <td>@bill.PhoneNumber</td>
                <td>@bill.Costs</td>
                <td>
                    <a asp-action="Details" asp-route-id="@bill.BillId" class="btn btn-info">View Details</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
